@font-face {
  font-family: 'Clash Display';
  src: url('../src/assets/fonts/ClashDisplay-Regular.woff2 ') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../src/assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
}
